/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

:root{
    --azure: #0084FD;
    --white: white;
    --lightazure: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --lightblack: #333333;
    --black: black;
}

p{
    line-height: 2rem;
}
h3{
    font-size: 1.5rem;
}

/* header  */

nav{
    display: none;
}

.container{
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header{
    background-color: var(--azure);
    color: var(--white);
}
.hamburger i{
    color: var(--white);
    font-size: 2rem;
}

/* main  */

/* sezione1 */

.sec1{
    margin: 2rem;
    max-width: 600px;
    margin: auto;
}

.inner-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightazure);
    border-radius: 1rem;
    padding: 0 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.inner-sec1 img{
    width: 85%;
}
.inner-sec1 h3, i{
    color: var(--azure);
}
.inner-sec1 i:not(.fa-apple){
    font-size: 5rem;
    margin-top: 2rem;
}

.inner-sec1 h3{
    margin: 2rem 0;
}
.inner-sec1 a{
    display: block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--azure);
    border-radius: 1rem;
    padding: 1rem 3rem;
    border-radius: 5rem;
    margin: 2rem 0;
}
.inner-sec1 a>i{
    color: var(--white);
}

/* sezione2 */

.sec2{
    max-width: 600px;
    margin: auto;
    background-color: var(--purple);
    color: var(--white);
    padding: 2rem 2rem;
}
.sec2 img{
    width: 85%;
}

.inner-sec2{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
}
.whitebg-sec2{
    background-color: var(--white);
    color: var(--lightblack);
    border-radius: 5rem;
    text-align: center;
}
.inner-sec2 h2{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.inner-sec2 span{
    width: 3rem;
    aspect-ratio: 1;
    background-color: var(--purple);
    border-radius: 50%;
    margin-top: 2rem;
}
.fa-arrow-down{
    line-height: 3rem;
    color: var(--lightblack);
}

/* sezione3 */

.sec3{
    max-width: 600px;
    margin: auto;
    padding: 4rem 2rem;
}
.inner-sec3{
    display: flex;
    flex-direction: column;
}
.inner-sec3 div{
    text-align: center;
}
.img1-sec3{
    background-image: url(../img/testimonial1.jpg);
}
.img2-sec3{
    background-image: url(../img/testimonial2.jpg);
}
.img3-sec3{
    background-image: url(../img/testimonial3.jpg);
}
.img-sec3{
    width: 50%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.testimonial2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple);
    border-radius: 2rem;
    color: var(--white);
    margin: 1rem 0;
    padding: 2rem 0
}
.testimonial1 p{
    padding-bottom: 2rem;
}
.testimonial2 p{
    display: inline;
    font-size: 1rem;
}
.testimonial2 i{
    color: var(--white);
    font-size: 1.5rem;
}
.inner-sec3 h2{
    color: var(--purple);
    font-size: 3rem;
    padding: 2rem 0;
}
.testimonial2 h4{
    padding-top: 1rem;
}
.inner-sec3 h4{
    font-size: 2rem;
    text-transform: uppercase;
}


/* sezione4 */

.inner-sec4{
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--purple);
}
.inner-sec4 h2{
    color: var(--white);
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0;
}
.benefit{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0;
}
.benefit h4, h3{
    color: var(--purple);
}
.benefit a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--purple);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.benefit h4{
    font-size: 3rem;
}
.benefit h3{
    padding: 1rem 0;
}
.benefit p{
    padding-bottom: 2rem;
}

/* sezione5 */
.sec5{
    padding: 2rem 0;
}
.inner-sec5{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.inner-sec5 h2{
    color: var(--purple);
    font-size: 2rem;
}
.img-aboutus{
    background-image: url(../img/about.jpg);
    width: 40%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}

.img-aboutus i{
    position: absolute;
    top: 0;
    left: 9rem;
    color: var(--purple);
    font-size: 3rem;
}
.fa-linkedin{
    background-color: var(--white);
    color: var(--purple);
}
.inner-sec5 a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--purple);
    padding: 0.5rem;
    border-radius: 1rem;
}
.inner-sec5 h3{
    padding: 2rem 0;
}

.inner-sec5 p{
    padding: 1rem 0;
}

/* sezione6 */

.inner-sec6{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-sec6> h4, h2 {
    color: var(--white);
    padding: 1rem 0;
}
.inner-sec6 h1{
    color: var(--yellow);
    font-size: 5rem;
}
.inner-sec6 p{
    color: var(--white);
    text-align: center;
}
.inner-sec6 a{
    text-decoration: none;
    color: var(--purple);
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin: 2rem 0;
}

/* footer  */

.inner-footer{
    max-width: 600px;
    margin: auto;
    background-color: var(--lightblack);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}
.inner-footer p{
    padding: 1rem 0;
}
.inner-footer a{
    color: var(--purple);
}

/* media query  */

@media screen and (min-width: 768px){
    .container .sec1 .sec2 .sec3 .inner-sec4 .inner-sec5 .inner-sec6 .inner-footer{
        max-width: 750px;
    }
    .sec1{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .inner-sec1{
        width: 30%;
    }
    .inner-sec11{
        width: 60%;
    }
    .testimonial2{
        display: flex;
        flex-direction: row;
    }
    .img-sec3{
        width: 150%;
        margin: 0 1rem;
    }
    .testimonial2 :nth-child(2){
        text-align: left;
    }
    .benefit{
        width: calc(50% - 1rem);
    }
    .inner-sec4 :nth-child(2)
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inner-sec5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .img-aboutus{
        width: 100%;
    }
    .inner-sec5 :first-child{
        width: 15rem;
    }
    .inner-sec5 :last-child{
        width: 10rem;
    }
    /* errore a linkedin **************+*/
}

@media screen and (min-width:992px){
    .container.sec1.sec2.sec3.inner-sec4.inner-sec5.inner-sec6.inner-footer{
        max-width: 980px;
    }
}